{
  "extends":"@mistjs/eslint-config-vue",
  "rules": {
    "no-console":"off",
    "@typescript-eslint/prefer-ts-expect-error": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "vue/custom-event-name-casing": "off"
  }
}
